/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  max-width: 100%;
  bottom: -25%;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  bottom: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
#Our-services {
  position: relative;
}
.slick-slide {
  display: block;
  float: left;
  width: 100%;
}
[dir='rtl'] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide {
  display: block;
  width: 100%;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-slider .slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  list-style: none;
  width: 100%;
  max-width: 100px;
  margin: 0.5em auto 1em;
  padding: 0.2em 0;
  line-height: 0;
}
@media (min-width: 768px){
  .slick-slider .slick-dots {
    margin: 1em auto 0;
  }
}

@media (min-width: 992px){

/* Slider */
.slick-slider {
  top: -10px;
  bottom: 0;
}

  .slick-slider .slick-dots {
    margin: 0.5em auto 0;
  }
}

@media (min-width: 1200px){
  .slick-slider .slick-dots {
    margin: -0.2em auto 0;
  }
  .slick-slider {
    top: 20px;
  }
}

@media (min-width: 1400px){
  .slick-slider .slick-dots {
    margin: -2px auto 0;
  }

}


.slick-dots li {
  margin: 0 0.25rem;
  border-radius: 50%;
}
.slick-slider .slick-dots button {
  border: none;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.slick-slider .slick-dots li.slick-active button {
  background-color: var(--subnavbar-color);
  color: #fff;
}
